Debug/
Release/
GenericInjector/Debug/
GenericInjector/Release/
InjectorTest/Debug/
InjectorTest/Release/
test/Debug/
test/Release/

ipch/

*.sdf
*.suo

###############
#  fixed file #
###############
*.exe
*.txt
*.def
*.dsp
*.lib
*.doc
*.dll
*.lnt
*.pm
*.xls
*.dbg
*.DBG
*.o
*.obj
*.plg
*.keep
*.bin

###############
#  temp file  #
###############
~*
*.log
*.cmm
*.men
*.ini
*.fig
*.cmp
*.tmp

###############
#    script   #
###############
*.bat
*.rar
*.opendb
/test/test.vcxproj.user
/test/test.vcxproj.filters
/InjectorTest2/InjectorTest2.vcxproj.user
/InjectorTest2/InjectorTest2.vcxproj.filters
/InjectorTest/InjectorTest.vcxproj.user
/InjectorTest/InjectorTest.vcxproj.filters
/GenericInjector.VC.db
/GenericInjector/GenericInjector.vcxproj.user
/GenericInjector/GenericInjector.vcxproj.filters
/GenericInjector/GenericInjector.vcxproj.bak
*.db
